<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"></button>
        <a class="navbar-brand" href="#">Welcome Test - Belatrix</a>
    </div>
    <div class="collapse navbar-collapse"
         id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#/directors/">Directors</a></li>
            <li><a href="#/help/">Help</a></li>
        </ul>
    </div>
</nav>
<header>
    <div class="container"></div>
</header>
<!--

<nav>
    <div class="container">
        <a href="#/" style="float:left;">{{app.projectName}}</a>
        <a href="#/">blog</a>
        <a href="#/">contact</a>
        <a href="#/">about</a>
    </div>
</nav>
<header>
    <div class="container"></div>
</header>-->
