<div>
<!-- Search client -->
    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading><i class="fa fa-search icon-border-left"></i>Filtro Cliente
            </uib-accordion-heading>
            <form class="form clearfix" role="form" name="searchClientForm" novalidate rc-submit="vm.searchClient()">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xsm-12">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xsm-2">
                                <div class="form-group">
                                    <label class="control-label" for="documentIdenSelect">Tipo de Documento:</label>
                                    <select class="form-control" id="documentIdenSelect" name="documentIdenSelect"
                                            ng-model="vm.documentIdentSelected"
                                            ng-options="docIdent.label for docIdent in vm.documentIdentList"
                                            ng-change="vm.tipDocChange()">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xsm-2"
                                 ng-class="{'has-error': rc.searchClientForm.needsAttention(searchClientForm.txtNumDoc)}"
                                 ng-show="vm.numDoc_view">
                                <div class="form-group">
                                    <label class="control-label" for="txtNumDoc">* Ingrese Número:</label>
                                    <input type="text" class="form-control" id="txtNumDoc" name="txtNumDoc"
                                           ng-model="vm.numDoc"
                                           axf-pattern="9"
                                           maxlength="{{vm.maxSize}}"
                                           minlength="{{vm.minSize}}"
                                           ng-required="vm.requiredNum">
                                    <small class="help-block" ng-show="(searchClientForm.txtNumDoc.$error.required && rc.searchClientForm.attempted)" translate="Informacion Requerida."/>
                                    <small class="help-block" ng-show="(searchClientForm.txtNumDoc.$error.minlength && rc.searchClientForm.attempted)" translate="El número es demasiado corto."/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xsm-2"
                                 ng-class="{'has-error': rc.searchClientForm.needsAttention(searchClientForm.txtApellidos)}"
                                 ng-show="vm.apellidos_view">
                                <div class="form-group">
                                    <label class="control-label" for="txtApellidos">* Ingrese Apellidos:</label>
                                    <input type="text" class="form-control" id="txtApellidos" name="txtApellidos"
                                           ng-model="vm.apellidos"
                                           axf-pattern="9"
                                           ng-required="vm.requiredApellidos">
                                    <small class="help-block" ng-show="(searchClientForm.txtApellidos.$error.required && rc.searchClientForm.attempted)" translate="Informacion Requerida"/>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-xsm-8">
                                <div class="form-group">
                                    <button id="search-client-button"
                                            class="btn btn-primary btn-form-inline"
                                            style="margin-top:21px;" type="submit">Buscar Cliente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </uib-accordion>

    <!-- add Client -->
    <div class="panel panel-default" ng-if="vm.panelAddClient">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>Agregar Cliente</strong>
            </h3>
        </div>
        <div class="container-fluid panel-body">
            <form class="form clearfix" role="form" name="AddClientForm" novalidate rc-submit="vm.addClient()">
                <!-- Fila 1 -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xsm-12">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xsm-2">
                                <div class="form-group">
                                    <label class="control-label" for="txtTipoDoc">* Tipo de Documento: </label>
                                    <input type="text" class="form-control" id="txtTipoDoc" value="{{vm.documentIdentSelected.value}}" readonly>
                                </div>
                            </div>
                            <!--DNI Seleccionado -->
                            <div class="col-lg-2 col-md-2 col-xsm-2" ng-show='vm.numIdent_view'>
                                <div class="form-group">
                                    <label class="control-label" for="txtNumIdent">* Número: </label>
                                    <input type="text" class="form-control" id="txtNumIdent" name="txtNumIdent" value="{{vm.numDoc}}" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xsm-3" ng-show='vm.nombreClient_view'>
                                <div class="form-group">
                                    <label class="control-label" for="txtNombreClient">* Nombre(s): </label>
                                    <input type="text" class="form-control" id="txtNombreClient" name="txtNombreClient" ng-model="vm.nombreCliente">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xsm-3" ng-show='vm.apellidoClient_view'>
                                <div class="form-group">
                                    <label class="control-label" for="txtApellidoClient">* Apellido(s): </label>
                                    <input type="text" class="form-control" id="txtApellidoClient" name="txtApellidoClient" ng-model="vm.apellidosCliente">
                                </div>
                            </div>
                            <!-- Ruc Seleccionado -->
                            <div class="col-lg-3 col-md-3 col-xsm-3" ng-show='vm.razonSocial_view'>
                                <div class="form-group">
                                    <label class="control-label" for="txtRazonSocial">* Razón Social: </label>
                                    <input type="text" class="form-control" id="txtRazonSocial" name="txtRazonSocial" ng-model="vm.razonSocial">
                                </div>
                            </div>
                            <!-- Buton Agregar Cliente -->
                            <div class="col-lg-2 col-md-2 col-xsm-2">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-form-inline" style="margin-top:21px;" type="submit">Agregar Cliente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Panel detail seals -->
    <div class="panel panel-default" ng-if="vm.panelDetalleVenta_View">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>Detalle de Venta</strong>
            </h3>
        </div>
        <div class="container-fluid panel-body">
            <form class="form clearfix" role="form" name="editForm">
                <!-- Fila 1 -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xsm-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xsm-12">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <label class="control-label" for="clientLabel">Nombre: </label>
                                        <span class="control-label" id="clientLabel">German Arellano Pozo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fila 2 -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xsm-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xsm-12">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <label class="control-label" for="prodText">Producto:</label>
                                        <input type="text" class="form-control" id="prodText">
                                        <button class="btn btn-primary btn-form-inline" aria-hidden="true" type="button"ng-click="deleteCampaign(row.rowIndex)"><i class="fa fa-plus-square"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>       