<div>

    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading><i class="fa fa-search icon-border-left"></i>Filtro Cliente
            </uib-accordion-heading>
            <form class="form clearfix" role="form" name="searchClientForm" novalidate rc-submit="vm.searchClient()">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xsm-12">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-xsm-2">
                                <div class="form-group">
                                    <label class="control-label" for="documentIdenSelect">Tipo de Documento:</label>
                                    <select class="form-control" id="documentIdenSelect" name="documentIdenSelect"
                                            ng-model="vm.documentIdentSelected"
                                            ng-options="docIdent.label for docIdent in vm.documentIdentList" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xsm-2">
                                <div class="form-group">
                                    <label class="control-label" for="numDoc">Ingrese Número:</label>
                                    <input type="text" class="form-control" id="numDoc" ng-model="vm.numDoc" axf-pattern="9">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-xsm-8">
                                <div class="form-group">
                                    <button id="search-client-button" class="btn btn-primary btn-form-inline" style="margin-top:21px;" type="submit">Buscar Cliente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </uib-accordion>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>Detalle de Venta</strong>
            </h3>
        </div>
        <div class="container-fluid panel-body">
            <form class="form clearfix" role="form" name="editForm">
                <!-- Fila 1 -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xsm-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xsm-12">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <label class="control-label" for="clientLabel">Nombre: </label>
                                        <span class="control-label">German Arellano Pozo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fila 2 -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xsm-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xsm-12">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <label class="control-label" for="inputText">Producto:</label>
                                        <input type="text" class="form-control" id="storeName">
                                        <button class="btn btn-primary btn-form-inline" aria-hidden="true" type="button"ng-click="deleteCampaign(row.rowIndex)"><i class="fa fa-plus-square"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>